<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Open Street Map</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
    <style>
        html, body, #map { height: 100%; }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
    <script type="text/javascript">
        (function () {
            var me = <%- me %>;
            var servers = <%- JSON.stringify(servers) %>;
            var zone = servers[me].zone;
            var bounds = L.latLngBounds([[zone.minlat, zone.minlon], [zone.maxlat, zone.maxlon]]);

            var map = L.map('map', {
                center: [(zone.maxlat-zone.minlat)/2+zone.minlat, (zone.maxlon-zone.minlon)/2+zone.minlon],
                maxBounds: bounds,
                dragging: false,
                touchZoom: false,
                scrollWheelZoom: false,
                doubleClickZoom: false,
                keyboard: false,
                tap: false,
                zoomControl: false
            });

            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
                maxZoom: 18
            }).addTo(map);

            for (server of servers) {
                L.rectangle(L.latLngBounds([[server.zone.minlat, server.zone.minlon], [server.zone.maxlat, server.zone.maxlon]]), {color: server.color, weight: 1}).addTo(map);
            }

            map.fitBounds(bounds);
            window.addEventListener('resize', function(event){
                map.fitBounds(bounds);
            });

            var markers = {};

            var socket = io('http://127.0.0.1:<%= port+100 %>');
            socket.on('update', function (data) {
                console.log(data);
                if (markers[data.id] === undefined) {
                    markers[data.id] = L.marker([data.position.lat, data.position.lon]).addTo(map);
                } else {
                    markers[data.id].setLatLng([data.position.lat, data.position.lon]);
                }
            });
        })()
    </script>
  </body>
</html>
